<ion-content class="landing-page" [class.leaving]="isLeaving" fullscreen>
  <div class="landing-container" [class.leaving]="isLeaving">

    <!-- Logo / Illustration -->
    <div class="logo-container hero-block ">
      <ion-img class="brand-mark" src="assets/studynest-logo.svg"></ion-img>
      <p class="brand-name">Study <br>
        Nest</p>
    </div>

    <!-- Slogan / Tagline -->
    <div class="text-section hero-block">
      <ion-text color="primary">
        <h1 class="slogan">Your Digital Nest for Learning</h1>
      </ion-text>
      <p class="subtext">
        The place to hatch your potential. Here you can grow, learn, and explore new opportunities every day. 
        Find your path, connect with others, and take small steps toward big goals. 
        This is the place where your ideas take flight and your skills get stronger.
      </p>
    </div>

    <!-- Call-to-Action Buttons -->
    <div class="cta-container hero-block">
      <ion-button class="landing-btn" expand="block" (click)="goToSignup()">
        Get Started
      </ion-button>

      <ion-button class="sign-in-btn" fill="outline" expand="block" (click)="goToLogin()">
        Sign In
      </ion-button>
    </div>
  </div>
</ion-content>
