.dark ion-content{
    --ion-background-color: #0f1724;
}
.dark ion-card{
    --background:#1a283f;
    border:none;
    box-shadow: 2px 2px 7px #05080d;
}
.dark ion-toolbar{
    --background:#152133;
}
.dark .custom-tab-bar{
    --background:#152133;
}


